<% if(success && success.length>0) {%> 
<div class="alert alert-success fade show" role="alert">
    <%= success %>
</div>
<% } %> 
<% if(error && error.length>0) {%>
<div class="alert alert-danger fade show" role="alert">
    <%= error %>
</div>
<% } %>